{% extends "layout.html" %}
{% block content %}
<h1 class="firstTitle">| SAIYAN SAGA |</h1>
<div class="image">
    <img src="{{ url_for('static', filename='images/sagas/saiyansaga.png') }}">
    <div class="description">
        <p>
            The Saiyan Saga begins when Raditz, Goku's brother, arrives on Earth and reveals Goku's Saiyan origins,
            announcing the arrival of two powerful warriors, Vegeta and Nappa. After Goku sacrifices himself to help
            Piccolo defeat Raditz, the Z Fighters prepare intensely for the coming battle. Goku trains in the Other
            World with King Kai, while his friends train Gohan. When Vegeta and Nappa land on the planet, they
            engage in fierce battles that result in the deaths of many fighters, including Yamcha, Tien, Chiaotzu,
            and Piccolo. Goku returns just in time to defeat Nappa using the Kaio-ken and faces Vegeta in an epic
            duel. Vegeta transforms into the giant ape Ōzaru, but with the help of Gohan, Krillin, and Yajirobe,
            Goku manages to stop him using the Spirit Bomb. Wounded, Vegeta ultimately decides to retreat, vowing to
            return for revenge.
        </p>
    </div>
</div>
<h1>| FRIEZA SAGA |</h1>
<div class="image">
    <img src="{{ url_for('static', filename='images/sagas/friezasaga.png') }}">
    <div class="description">
        <p>
            The Frieza Saga follows the Z Fighters as they travel to Planet Namek to find the Namekian Dragon Balls
            and resurrect their fallen friends after the battles with the Saiyans. Upon arrival, they discover that
            Frieza, a ruthless galactic tyrant, is already there collecting the Dragon Balls to gain immortality.
            Vegeta, also pursuing the Dragon Balls, forges uneasy alliances and rivalries with Gohan, Krillin, and
            eventually Piccolo, who joins the fight after fusing with Nail. As Frieza's elite forces are defeated,
            the heroes confront Frieza himself, whose power escalates through multiple terrifying transformations.
            After witnessing the brutal deaths of Vegeta and Krillin, Goku is driven into a rage that triggers his
            legendary transformation into a Super Saiyan. In a climactic battle, Goku ultimately defeats Frieza, who
            tries to destroy Namek in his final act of spite. The surviving heroes escape as Planet Namek explodes,
            and Goku barely survives the catastrophe, setting the stage for future conflicts.
        </p>

    </div>
</div>
<h1>| ANDROIDS SAGA |</h1>
<div class="image">
    <img src="{{ url_for('static', filename='images/sagas/androidsaga.png') }}">
    <div class="description">
        <p>
            The Android Saga begins when Future Trunks, the son of Vegeta and Bulma from an alternate timeline,
            arrives to warn the Z Fighters about the coming threat of powerful Androids created by Dr. Gero, a
            vengeful scientist from the Red Ribbon Army. Despite their training, the Z Fighters are soon overwhelmed
            by Android 19 and Android 20 (Dr. Gero himself), but Vegeta reveals his new Super Saiyan form and
            destroys Android 19. Later, the even more dangerous Androids 17 and 18 are activated, easily defeating
            the heroes. Meanwhile, a mysterious bio-engineered creature named Cell emerges, absorbing other
            lifeforms to reach his perfect form. As Cell grows stronger, the Z Fighters desperately train in the
            Hyperbolic Time Chamber. After achieving his perfect state by absorbing Android 17 and Android 18, Cell
            announces the Cell Games, a tournament to decide the fate of the Earth. In the final confrontation,
            Gohan ascends to Super Saiyan 2, unleashing his hidden power to destroy Cell once and for all, though
            Goku sacrifices himself to save the planet during the battle.
        </p>

    </div>
</div>
<h1>| MAJIN BUU SAGA |</h1>
<div class="image">
    <img src="{{ url_for('static', filename='images/sagas/majinsaga.png') }}">
    <div class="description">
        <p>
            The Majin Buu Saga begins when the evil wizard Babidi arrives on Earth to resurrect Majin Buu, an
            ancient and incredibly powerful creature of destruction. Babidi manipulates and corrupts fighters like
            Vegeta, who allows himself to be possessed to gain the strength to fight Goku. Despite Goku and Vegeta's
            fierce battle, Buu is eventually awakened and proves unstoppable, defeating many of the Z Fighters with
            ease. After Buu kills Babidi and goes on a rampage, he splits into different forms, each more dangerous
            than the last, including the sinister Super Buu and the childlike but terrifying Kid Buu. Goku and
            Vegeta fuse into Vegito to combat Buu but ultimately separate again to save their absorbed friends. In
            the final showdown, Goku gathers energy from across the universe to form a massive Spirit Bomb. With the
            help of the Dragon Balls and the revived people of Earth, Goku destroys Kid Buu, bringing peace back to
            the world. The saga ends as Goku meets Uub, the good reincarnation of Buu, whom he decides to train as
            the next protector of Earth.
        </p>
    </div>
</div>
{% endblock content %}